body{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin:0px;
  width: 100%;
}

#root{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin:0px;
  width: 100%;
}